@font-face {
  font-family: GameOfThrones;
  src: url("../../../public/fonts/Game of Thrones.ttf");
}
@font-face {
  font-family: Alegreya;
  src: url("../../../public/fonts/Alegreya-Regular.ttf");
}
