@import "includes/fonts";
@import "includes/vars";

body {
  #root {
    margin: 0;
  }

  background-color: $bgColor;
  font-family: Alegreya, sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-family: GameOfThrones, sans-serif;
  }

  p {
    margin: 0;
    font-size: 20px;
  }
}
