@import "../../styles/includes/vars.scss";
#character_grid {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: center;
  gap: 20px;
  @media screen and (max-width: 1100px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media screen and (max-width: 825px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  img {
    margin-bottom: 10px;
    min-height: 250px;
    max-height: 250px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .character-block {
    padding-inline: 10px;
    h1 {
      font-size: clamp(1rem, 3vw, 2rem);
    }
  
    h2 {
      font-size: clamp(.75rem, 3vw, 1.2rem);
    }
  
    h1,
    h2 {
      margin-top: 10px;
    }
  }
}

#character_detail, #continent_detail {
  .character-return {
    display: flex;
    justify-content: center;
    h3 {
      margin-top: 50px;
      max-width: 500px;
      cursor: pointer;
      transition: 0.3s;
      color: $hoverColor;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
