.content-container {
  display: flex;
  text-align: center;
  height: 100%;
  padding: 10px;
  flex-direction: column;

  .content {
    & > h1 {
      margin-bottom: 20px;
    }
    .loading-message {
      margin-top: 100px;
    }
  }

  .content-filter {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  h1 {
    font-size: clamp(1.5rem, 4vw, 4rem);
    margin-top: 20px;
  }
}
