.world-map {
    #continent_grid {
        margin-top: 20px;
        display: grid;
        grid-template-columns: minmax(0,1fr);
        gap: 20px;
        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(3, minmax(0,1fr));
        }
        .continent-block {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;
            h1 {
                transition: .3s;
                &:hover {
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }
    }
}