@import "../../styles/includes/vars.scss";
.navigation {
  ul {
    display: flex;
    flex-direction: row;
    li {
      margin-inline: 10px;
      list-style-type: none;
      a {
        color: $textColor;
        font-size: 24px;
        text-decoration: none;
        transition: .2s;
        &:hover {
          color: $hoverColor;
        }
      }
    }
  }
}